@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Barlow Semi Condensed;
    background-color: hsl(210, 46%, 95%);
    font-size: 13px;
     
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 0;
}

.card-wrapper {
    display:grid;
    max-width: 1150px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(217, 19%, 35%);
    border-radius: 20px;
    padding: 30px 40px;
    
}

.card-head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-head img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.card-user {
    margin-left: 10px;
}

.card-head .card-user .name {
    color: hsl(0, 0%, 100%);
    color: #fff;
    font-weight: 600;
    opacity: 70%;
}

.card-head .card-user .title {
    color: hsl(0, 0%, 81%);
    font-weight: 500;
    opacity: 50%;
}

.card-heading {
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    opacity: 70%;
}

.card-details {
    color: hsl(0, 0%, 81%);
    margin-top: 20px;
    opacity: 70%;
    line-height: 1.5;
}

.card-1 {
    grid-column: 1/3;
    background-color: hsl(263, 55%, 52%);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0;
}

.card-2 {
    grid-column: 3/4;
}

.card-3 {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: #fff;
}

.card-4 {
    grid-row: 2/3;
    grid-column: 2/4;
    background-color: hsl(219, 29%, 14%);
}

.card-5 {
    grid-row: 1/3;
    grid-column: 4/5;
    background-color: #fff;
}


.card-3 .card-heading,
.card-3 .card-head .card-user .name,
.card-3 .card-head .card-user .title,
.card-3 .card-details, 
.card-5 .card-heading,
.card-5 .card-head .card-user .name,
.card-5 .card-head .card-user .title,
.card-5 .card-details {

    color: #222;
}


@media(max-width:1024px) {
    body {
        padding: 20px;
    }

    .card-wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .card-1 {
        grid-column: 1/3;
    }

    .card-2 {
        grid-column: 3/4;
    }

    .card-5 {
        grid-column: 1/4;
        grid-row: 3/3;
    }

}

@media(max-width:760px) {

    body {
        padding: 20px;
    }

    .card-wrapper {
        grid-template-columns: 1fr;
        
    }

    .card {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}
